.post-modal {
  border: 2px solid #e7e7e7;
  width: 900px;
  height: 600px;
  display: flex;
  font-family: "Montserrat";
  margin-bottom: 20px;
}
.post-modal-header {
  width: 379px;
  display: flex;
  align-items: center;
  padding: 14px 0 14px 16px;
  border-bottom: 1px solid #f5f5f5;
}
.post-modal-user-img {
  border-radius: 50px;
}
.post-modal-nickname {
  font-weight: 700;
  font-size: 13px;
  margin-left: 14px;
}
.post-modal-body {
  padding-top: 15px;
  height: 435px;
  border-bottom: 1px solid #f5f5f5;
}
.post-modal-icon-wrapper {
  padding-top: 5px;
}
.post-like-svg {
  margin-left: 10px;
}
.post-modal-footer {
  max-height: 430px;
  overflow-x: hidden;
}
