.user-wrapper {
  max-width: 905px;
  margin: 0 auto;
}

.user-header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.user-header-img-container {
  margin: 0 45px;
}

.user-header-content {
  font-family: 'Montserrat', sans-serif;

}

.user-header-top {
  display: flex;
  align-items: center;
}

.user-header-title {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: 32px;
}

.user-header-counter {
  font-size: 14px;
  margin: 20px;
}

.user-header-counter:first-of-type {
  margin-left: 0;
}

.user-header-button {
  background-color: #fff;
  font-weight: bold;
  margin: 0 20px;
  padding: 5px 20px;
  border: 1px solid #c9baba;
  border-radius: 4px;
}

.user-header-description {
}