.user-post {
  width: 250px;
  height: 250px;
}
.user-post{
  &:hover{
    &:before{
      opacity:1;
      background-color:rgba(0,0,0,.5);
    }
    .user-post-popup{
      opacity:1;
    }
  }
}
.user-post-popup {
  position: relative;
  top: -253px;
  width: 250px;
  height: 250px;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  transition: opacity 300ms;
  opacity: 0;
}
.user-post-popup-info {
  color: white;
  font-size: 35px;
  margin: 0 auto;
}

.user-post-popup-counter {
  margin-left: 15px;
}

