@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./fonts/Montserrat-Regular.woff") format("woff");
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
// .app-wrapper {
//   width: 615px;
//   margin: 0 auto;
// }
.avatar {
  //этот класс дается всем аватаркам пользователей
  border-radius: 50%;
}
.commentary-button {
  border: none;
  margin: 0;
  padding: 0;
  height: 25px;
  background: transparent;
  color: #0095f6;
  line-height: normal;
  cursor: pointer;
}
